/* ===== == = === Base Styles === = == ===== */

@import "_styles.scss";
@import "_font-awesome.scss";

body{
  font-family: $aliquamRegular;
  letter-spacing: 0.1rem;
  background-color: $brown;
  height: 100%;
}

#wrapper{
  height: 100%;
  background-color: $brown;
  @include stripes;
}

#mainContainer{
  margin: auto;
  height:100%; 
}
   
h1{
  display: block;
  color: $brown;
}

h2{
  font-family: $kaushan;
}

h3{
  font-family: $aliquamRegular;
  color: $brown;
  letter-spacing: 0rem;
}

a{
  font-family: $aliquamRegular;
  letter-spacing: 0.1rem
}

p {
  font-family: $aliquamRegular;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $text;
}

li{
  font-family: $aliquamRegular;
  letter-spacing: 0.1rem;
}

.fontAwesome{
  font-family: 'FontAwesome';
}

//*******************HEADER***************

header {
  width:100%;
  height: 100%;
  text-align: center;
  background-color: $orange;
}

#logo{
  background-color: white;
}

//*******************NAVIGATION MENU***************

#navBar{
background: $brown;
     
  #menu{
    background: $brown;
  }
  
  li{ 
    display: inline-block;

    a{
      color: $white;
      background-color: $brown;
      outline: 3px solid $brown;
      outline-offset: -19px;
      transition: all 0.6s linear; 
      -moz-transition: all 0.6s linear; /* Firefox 4 */ 
      -webkit-transition: all 0.6s linear; /* Safari and Chrome */ 
      -o-transition: all 0.6s linear; /* Opera */
    }
  }
  
  li.home {
    a {
      border: 20px solid $green;
    }

    a:hover{
      background-color: $green;
    }
  }
  
  li.about {
    a {
    border: 20px solid $pink;
  }

  a:hover{
      background-color: $pink;
    }
  }
    
  li.classes{
   a {
    border: 20px solid $blue;
  }

  a:hover{
      background-color: $blue;
    }
  }
    
  li.gallery {
    a {
    border: 20px solid $orange;
  }

  a:hover{
      background-color: $orange;
    }
  }
  
  li.contact {
    a {
    border: 20px solid $purple;
  }

  a:hover{
      background-color: $purple;
    }
  }
  
  li a:hover,
  li a:focus,
  li a:active {
    font-weight: bolder;
    color: $brown;
    outline: $brown5;
    outline-offset: -19px;
  }
}

 //*******************DANCE TYPES*************************

    #danceTypes{
      
      p{
        color: $white;
      }
    }
    
    .zumbaIs{
      color: $green;
    }
    
//************************PROMO BUTTON********************


.promoAbout{
  display: block;
  margin: auto;
  height: 100%;
  background-color: $brown;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include roundedCorners;
  border: 30px solid $pink;
  @include boxShadow;
  outline: 3px solid $brown;
  outline-offset: -25px;
 
  p{
    color: $white;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }
}

//*******************VIEW CLASSES LINK***************

#viewClasses{
        width: 100%;
        height: 100%;
    }
    
    .viewClassText{
    
      a{
        display:block;
        max-width: 90%;
        height: 100%;
        padding: 8px 0;
        font-family: $kaushan;
        font-size: 1.9rem;
        font-weight: bolder;
        text-align: center;
        color: $brown;
        background-color: $green;
        @include roundedCorners;
        border: $brown30;
        @include boxShadow;
        outline: $green2;
        outline-offset: -25px;
      }

      a:hover{
        color: $green;
        background-color: $brown;
      }
    }

//*******************CONTENT - TOGGLE BUTTON***************

#toggleButton{
  display: block;
  font-family: $aliquamRegular;
  font-size: 1.2rem;
  color: $white;
  letter-spacing: 0.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $blue;
  border: $h3ClassesBorder;
  @include formCorners;
  @include boxShadow;
}

//*******************CONTENT - FORM***************

#form{
    @include roundedCorners;
    background-color: $input;
} 

input[type="email"], 
input[type="text"],
textarea{
  background-color: $white;
  border: $inputBorder;
  @include formCorners;
  }
    
.required
    {
        font-size: $fontSize * 0.8;
        color: $purple;
    }
    
input[type="submit"]{
  display: block;
  font-family: $aliquamRegular;
  font-size: 1.2rem;
  color: $white;
  letter-spacing: 0.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $text;
  @include formCorners;
  @include boxShadow;
}


//*****************FOOTER******************

footer{
  width:100%;
  height: 100%;
  text-align: center;
  background-color: $brown;
}

.zinNetwork{
  background-image: url("../assets/images/full/zin.png");
  background-repeat: no-repeat;
}

.zinDate{
  color: $text;
}

.zumbatomic{
  background-image: url("../assets/images/full/zumbatomic.png");
  background-repeat: no-repeat;
}

.social{
  li{
    
    a{
      color: $orange;
    }
    
    a:hover{
      color: $white;
    }
  }
}

#copyright{
  background-color: $orange;
  
  p{
    color: $brown;
  }
}


//*******************SLIDESHOW***************
// Source: http://http://responsive-slides.viljamis.com/ v1.53 by @viljamis

#slideshow{
  position: relative;
  margin: auto;
  background-color: green;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 90%;
  padding: 0;
  margin: 0 auto;
  
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
    .centered-btns_nav {
//display: none;
  }
  
  .centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 10%;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../assets/images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 10%;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

// .large-btns_nav {
//   z-index: 3;
//   position: absolute;
//   -webkit-tap-highlight-color: rgba(0,0,0,0);
//   opacity: 0.6;
//   text-indent: -9999px;
//   overflow: hidden;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   background: #000 url("../assets/images/themes.gif") no-repeat left 50%;
//   width: 38px;
//   }

// .large-btns_nav:active {
//   opacity: 1.0;
//   }

// .large-btns_nav.next {
//   left: auto;
//   background-position: right 50%;
//   right: 0;
//   }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }