/* ===== == = === 801 px - 1280 px === = == ===== */ 
 
//@media screen and (min-width: 80.1em)
    
//*******************CLASSES PAGE CONTENT***************

.classHeading{
        display: block;
        width: 90%;
        margin-left: 5%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: $h1Classes;
    }
    
#classSchedule,
#priceSchedule,
#studentInfo{
    width: 90%;
    height: 100%;
    margin: auto;
    //background-color: blue;
}

//************************PROMO BUTTON********************

     .promoClasses{
      width: 55%;
      margin: auto;
      margin-bottom: 3rem;
      border: 25px solid $blue;
      
      p{
        font-size: 2rem;
        line-height: 2rem;
      }
    }
    
    .prmsgClasses{
      color: $blue;
    }

//*******************TAG LINE*************************

#classesTag{
width: 90%;
margin: auto;
text-align: center;
padding-top: 2rem;
padding-bottom: 1rem;
color: $blue;
font-size: 1.5rem;
}

//*******************CLASS SCHEDULE CONTENT***************

.classDetails{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 5rem;
    overflow: hidden;
}

#classTimes{
  
  li{
      line-height: 1.5rem;
      color: $text;
  }
}


.day{
  float: left;
  width: 25%;
  font-size: 1.1rem;
}

.time{
  float: left;
  width: 25%;
  font-size: 1.1rem;
}

.place{
  float: right;
  width: 45%;
  text-transform: uppercase;
}

.address{
  clear: both;
  float: right;
  width: 45%;
}

.directions{
    clear: both;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: $classTimesBorder;
    //background-color: red;
}

.directions:last-child{
    border-bottom: none;
}

.mapHolder{
    margin-bottom: 2rem;
}

//*******************PRICE SCHEDULE CONTENT***************   

.classPrice{
  width: 100%;
  margin: auto;
}

.classPrice h3{
  display: inline;
  margin-top: 2rem;
  padding-bottom: 0.8rem;
  border-bottom: $h3ClassesBorder;
}

.classPrice p{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

//*******************STUDENT INFORMATION CONTENT*************** 

#studentInfo h3{
  display: inline;
  margin-top: 2rem;
  padding-bottom: 0.8rem;
  border-bottom: $h3ClassesBorder;
}

.studentInfo{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.needs{
  //background-color: blue;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  
  li{
      line-height: 1.5rem;
      list-style-type: disc;
      list-style-position: inside;
      color: $text;
  }
}