/* ===== == = === 30em (480 px) portrait  smartphone === = == ===== */   

//@media screen and (max-width: 30em) {
    
    
//*******************CLASSES PAGE CONTENT***************
 
 .classHeading{
        display: block;
        width: 95%;
        margin-left: 5%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: $h1Classes;
    }
    
#classSchedule,
#priceSchedule,
#studentInfo{
    width: 90%;
    height: 100%;
    margin: auto;
}

//*******************TAG LINE*************************

#classesTag{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: $blue;
    font-size: 1.5rem;
}

//*******************CLASS SCHEDULE CONTENT***************

.classDetails{
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    padding-bottom: 0rem;
    height: 100%;
    //background-color: blue;
}

#classTimes{
    
    li{
        line-height: 1.5rem;
        color: $text;
    }
}

.day{
    width: 50%;
    font-size: 1.1rem;
}

.time{
    width: 40%;
    font-size: 1.1rem;
}

.place{
    clear: both;
    text-transform: uppercase;
    padding-top: 1rem;
}

.directions{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: $classTimesBorder;
    //background-color: red;
}

.directions:last-child{
    border-bottom: none;
}

.mapHolder{
    margin-bottom: 2rem;
}

//*******************PRICE SCHEDULE CONTENT***************   


.classPrice{
    width: 100%;
    margin: auto;
}

.classPrice h3{
    display: inline;
    margin-top: 2rem;
    padding-bottom: 0.8rem;
    border-bottom: $h3ClassesBorder;
 }
 
 .classPrice p{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 //*******************STUDENT INFORMATION CONTENT*************** 

 #studentInfo h3{
    display: inline;
    margin-top: 2rem;
    padding-bottom: 0.8rem;
    border-bottom: $h3ClassesBorder;
 }

.studentInfo{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
    
.needs{
//background-color: blue;
    width: 100%;
    margin: auto;
    margin-top: 2rem;

    li{
        line-height: 1.5rem;
        list-style-type: disc;
        list-style-position: inside;
        //text-indent: -1rem;
        color: $text;
    }
}
