 /* Target landscape smartphones, portrait tablets, narrow desktops
 /* ===== == = === 481 px - 800 px === = == ===== */ 

//@media screen and (min-width: 30.1em) and (max-width: 50em) 
  
    //*******************ABOUT PAGE CONTENT***************
    
    .aboutHeading{
      display: block;
      width: 95%;
      margin-left: 5%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: $h1About;
    } 
    
    #about{
        width: 90%;
        height: 100%;
        margin: auto; 
    }
    
     .info{
        width: 100%;
        margin-bottom: 2rem;
    }
    
      //*******************TAG LINE*************************

    #aboutTag{
      width: 90%;
      margin: auto;
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 1rem;
      color: $pink;
      font-size: 1.5rem;
    }
    
     //************************PROMO BUTTON********************
      
      #promo{
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    
     .promoAbout{
      width: 65%;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 3rem;
      border: 25px solid $pink;
      
      p{
        font-size: 2rem;
        line-height: 2rem;
      }
    }
    
    .prmsgAbout{
      color: $pink;
    }
    
    //*******************PHOTO*************************

    #selfphoto
    {
        display: none;
    }
    
    

