/* 801 - 1280 */

//@media screen and (min-width: 50.1em) and (max-width: 80em)

//*******************CLASSES PAGE CONTENT***************

#classSchedule,
#priceSchedule,
#studentInfo{
  
  h1{
      display: block;
      width: 95%;
      margin-left: 5%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: $h1Classes;
  }
}

.info{
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

//*******************TAG LINE*************************

#classesTag{
width: 90%;
margin: auto;
text-align: center;
padding-top: 2rem;
padding-bottom: 1rem;
color: $blue;
font-size: 1.5rem;
}

//*******************CLASS SCHEDULE CONTENT***************

#classTimes{
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: $classTimesBorder;
  
  li{
      line-height: 1.5rem;
      color: $text;
  }
}

#classTimes:last-child{
  border-bottom: none;
}

.day{
  float: left;
  width: 50%;
  font-size: 1.1rem;
}

.time{
  float: left;
  width: 30%;
  font-size: 1.1rem;
}

.place{
  clear: both;
  text-transform: uppercase;
  padding-top: 1rem;
}

.directions{
  
  a{
      display: block;
      color: $blue;
      padding-top: 1rem;
  }
  
  a:hover{
      color: $brown;
  }
}

//*******************PRICE SCHEDULE CONTENT***************   
.classPrice{
  width: 90%;
  margin: auto;
  //margin-top: 2rem;
  //margin-bottom: 2rem;
}

.classPrice h3{
  display: inline;
  margin-top: 2rem;
  padding-bottom: 0.8rem;
  border-bottom: $h3ClassesBorder;
}

.classPrice p{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

//*******************STUDENT INFORMATION CONTENT*************** 

#studentInfo h3{
  display: inline;
  margin-top: 2rem;
  margin-left: 5%;
  padding-bottom: 0.8rem;
  border-bottom: $h3ClassesBorder;
}

.needs{
  //background-color: blue;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  
  li{
      line-height: 1.5rem;
      list-style-type: disc;
      list-style-position: inside;
      color: $text;
  }
}
    
  