/* === Breakpoints set in ems, but header height in px because image is in px

/* ===== == = === 801 px - 1280 px === = == ===== */ 

@media screen and (min-width: 80.1em) {
    
    @import "_styles.scss";
    
    #wrapper{
        //@include stripes;
        //padding-bottom: 1rem;
    }
     
    #logo{
        background-image: url("../assets/images/full/zumbaLogo1281.png");
        background-repeat: no-repeat;
        width: 1200px;
        max-width: 100%;
        height: 246px;
        margin: auto;
    }
    
  
    
    //*******************HOME PAGE MAIN IMAGE***************
     
    #mainImage{
        background-image: url("../assets/images/full/zumbaHome1281.jpg");
        background-repeat: no-repeat;
        width: 800px;
        max-width: 90%;
        height: 533px;
        margin: auto;
        margin-top: 2rem;
    }
         
    //*******************NAVIGATION MENU***************
    
    #navBar{
      width: 100%;
      height:100%;
      padding-top: 2rem;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      
    #menu{
        width: 80em;
        margin: auto;
    }
  
    li{ 
        width: 18%;
        margin-right: 2%;
        
        a{
            display: block;
            font-size: 1.2rem;
            height: 3rem;
            line-height: 3rem;
            margin-bottom: 2rem;
            @include roundedCorners;  
        }  
    }

        li:last-child{
          margin-right: 0%;
        }
    } 

    //*******************DANCE TYPES*************************

    #danceTypes{
        max-width: 80em;
        margin: auto;
        margin-top: 3rem;
        
        p{
          font-size: 2.8rem;
          line-height: 3rem;
          //color: $white;
        }
    }
    
    .zumbaIs{
        //color: $green;
    }
    
    //*******************HOME PAGE CONTENT***************
    
    #mainContainer{
        background-image: url("../assets/images/whiteWall.png");
        max-width: 80%;
        height: 100%;
        margin-top: 3rem;
        @include roundedCorners;
        border: $borderContainer;
    }
    
    .homeHeading{
        display: block;
        width: 90%;
        margin-top: 6rem;
        margin-left: 5%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: $h1Home;
        //background-color: green; 
    }
      
    #content{
        float: left;
        width: 55%;
        margin-left: 5%;
        margin-bottom: 1rem; 
        //background-color: blue; 
    }
  
   .info{
        width: 90%;
        margin: auto;
        //margin-top: 1rem;
        margin-bottom: 2rem;
        //background-color: red;
    }
    
    //*******************HOME PAGE RIGHT SIDE CONTENT***************

    #rightContent{
        display: block;
        float: right;
        width: 30%;
        margin-top: 2rem;
        margin-left: 3%;
        margin-right: 5%;
        //background-color: blue;
    }
    
   .viewClassText{
    
      a{
        font-size: 2rem;
      }
    }
    
    #zumbaContainer{
      width: 100%;
      height: 100%;
      margin: auto;
      margin-top: 3rem;
      //background-color: red;
    }
    
    .zumbaCom a{
        clear: both;
        background-image: url("../assets/images/full/zumba.png");
        background-repeat: no-repeat;
        width: 265px;
        max-width: 100%;
        height: 284px;
        display: block;
        margin-top: 3rem;
        margin: auto;
        font-size: 0rem;
        //outline: 1px solid yellow;
    }

    //*******************TAG LINE*************************

    #homeTag{
        clear: both;
        margin: auto;
        width: 95%;
        text-align: center;
        padding-top: 3.5rem;
        padding-bottom: 2rem;
        color: $green;
        font-size: 2rem;
    }

    //*******************FOOTER*************************
    
    footer{
        margin-top: -1rem;
        padding-top: 1rem;  
    }
    
    .zin{
      float: left;
      width: 20%;
      margin-left: 30%;
    }
    
    .atomic{
      float: right;
      width: 20%;
      margin-right: 30%;
    }
    
    .zinNetwork{
        display: block;
        width: 150px;
        max-width: 100%;
        height: 53px;
        margin: auto;
    }
    
    .zinDate{
        font-size: 0.8rem
    }
    
    .zumbatomic{
      
        display: block;
        width: 192px;
        max-width: 100%;
        height: 47px;
        margin: auto;
        margin-top: 1rem;
    }
    
    .social{
      clear: both;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        border-top: $orange2;
        
        li{
            display: inline-block;
            width: 20%;
            height: 2rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            //background-color: red;
        }
        
        a{
            font-size: 2rem;
        }
    }
    
    .text{
      font-size: 1rem;
    }

    #copyright{
        height: 4rem;
        margin-top: -1rem;
        
        p{
            font-size: 0.8rem;
            padding-top: 1rem;
        }
    }
    
    //*******************HOME PAGE SLIDESHOW***************
    // Source: http://http://responsive-slides.viljamis.com/ v1.53 by @viljamis
    
    #slideshow{
        max-width: 50%;
        margin-top: 2rem;
        margin-right: 3rem;
    }
    

    .centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 45%;
  left: 7%;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../assets/images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 7%;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../assets/images/themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
    
//*******************IMPORT PAGES***************

@import "_media1281_about.scss";
@import "_media1281_classes.scss";
@import "_media1281_gallery.scss";
@import "_media1281_contact.scss";
    
} // end of media query 80em+