 /* Target landscape smartphones, portrait tablets, narrow desktops
 /* ===== == = === 481 px - 800 px === = == ===== */ 

//@media screen and (min-width: 30.1em) and (max-width: 50em) 
    

    
    //*******************ABOUT PAGE CONTENT***************
    
    #videoContainer{
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: $white;
        @include roundedCorners;
      }

     //*******************YOUTUBE VIDEO***************

     #video{
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            //background-color: red;
      }

      #video iframe,  
      #video object,  
      #video embed {
            position: absolute;
            top: 3rem;
            left: 2rem;
            width: 90%;
            height: 90%;
      }
    
      //*******************TAG LINE*************************

    #galleryTag{
      width: 90%;
      margin: auto;
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 1rem;
      color: $orange;
      font-size: 1.5rem;
    }
    
  
    
    

