// here is where all generic and base styles go eg. colors, font-families, borders

//***************************************

// COLOURS

//***************************************

$paleBlue: rgb(182, 245, 254); //#b6f5fe
$blue: rgb(31, 224, 252); //#1fe0fc
$paleGreen: rgb(225, 245, 184); //#e1f5b8
$green: rgb(168, 226, 50); // #a8e232
$palePink: rgb(249, 189, 230); // #f9bde6
$pink: rgb(236, 49, 177); // #ec31b1
$palePurple: rgb(221, 191, 236); // #ddbfec
$purple: rgb(159, 74, 200); // #9f4ac8
$paleOrange: rgb(252, 218, 178); // #fcdab2
$orange: rgb(247, 147, 30); // #F7931E;
$white: rgb(255, 255, 255);
$brown: rgb(20, 8, 10);
$text: rgb(25, 25, 25);
$input: rgba(153, 153, 153, 0.1);

//***************************************

// MIXINS

//***************************************

@mixin stripes{
    background-size:10px 10px;
    // background-color: rgba(159, 164, 166, 0.15);
    background-color: rgba(20, 8, 10, 0.9);
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .1) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .1) 50%, transparent 50%, transparent);
    background-image: -mslinear-gradient(0deg, rgba(255, 255, 255, .1) 50%, transparent 50%, transparent);
    background-image: -olinear-gradient(0deg, rgba(255, 255, 255, .1) 50%, transparent 50%, transparent);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .1) 50%, transparent 50%, transparent); 
}

@mixin roundedCorners{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@mixin formCorners{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@mixin promoCorners{
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
}

@mixin boxShadow{
    -webkit-box-shadow: 1px 7px 10px rgba(20, 8, 10, 0.8);
    -moz-box-shadow: 1px 7px 10px rgba(20, 8, 10, 0.8);
    -o-box-shadow: 1px 7px 10px rgba(20, 8, 10, 0.8);
    box-shadow: 1px 7px 10px rgba(20, 8, 10, 0.8);
    }
    
@mixin borderShadow{
    -webkit-box-shadow: 8px 9px 20px rgb(122, 123, 84);
    -moz-box-shadow: 8px 9px 20px rgb(122, 123, 84);
    -o-box-shadow: 8px 9px 20px rgb(122, 123, 84);
    box-shadow: 8px 9px 20px rgb(122, 123, 84);
    }
    
//***************************************

// BORDERS AND OUTLINES

//***************************************

$h1Home: 5px solid $green;
$h1About: 5px solid $pink;
$h1Classes: 5px solid $blue;
$h1Gallery: 5px solid $orange;
$h1Contact: 5px solid $purple;
$brown30: 30px solid $brown;
$borderContainer: 60px solid $white;
$classTimesBorder: 1px dotted $blue;
$h3ClassesBorder: 1px solid $blue;
$h3TestimonialsBorder: 1px solid $pink;
$inputBorder: 1px solid $input;
$green2: 2px solid $green;
$orange2: 2px solid $orange;
$orange30: 30px solid $orange;
$brown5: 5px solid $brown;

//***************************************

// FONT STYLES

//***************************************

$fontSize: 1rem;

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 28, 2013 */

// $journal: 'journalregular', sans-serif;
// $aliquamUltraLight: 'aliquamultralight', sans-serif;
// $aliquamRegular: 'aliquamregular', sans-serif;
// $fontAwesome: 'FontAwesome';
$kaushan: 'Kaushan Script', cursive;
$wendy: 'Wendy One', sans-serif;

// @font-face {
//     font-family: 'aliquamultralight';
//     src: url('../assets/fonts/aliquam-webfont.eot');
//     src: url('../assets/fonts/aliquam-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../assets/fonts/aliquam-webfont.woff') format('woff'),
//          url('../assets/fonts/aliquam-webfont.ttf') format('truetype'),
//          url('../assets/fonts/aliquam-webfont.svg#../assets/fonts/aliquamultralight') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'aliquamregular';
//     src: url('../fonts/aliquamreg-webfont.eot');
//     src: url('../fonts/aliquamreg-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/aliquamreg-webfont.woff') format('woff'),
//          url('../fonts/aliquamreg-webfont.ttf') format('truetype'),
//          url('../fonts/aliquamreg-webfont.svg#../assets/fonts/aliquamregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'journalregular';
//     src: url('../assets/fonts/journal-webfont.eot');
//     src: url('../assets/fonts/journal-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../assets/fonts/journal-webfont.woff') format('woff'),
//          url('../assets/fonts/journal-webfont.ttf') format('truetype'),
//          url('../assets/fonts/journal-webfont.svg#journalregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }




